.place__image-container {
  margin: 48px 0 0 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .place__image-container {
    max-width: 440px;
    height: 440px;
    margin: 48px 0 0 0;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .place__image-container {
    max-width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 425px) {
  .place__image-container {
    max-width: 320px;
    height: 320px;
    margin: 0;
  }
}