.intro__list {
    width: 100%;
    max-width: 690px;
    height: 90px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 150%;
    color: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .intro__list {
        max-width: 720px;
        font-size: calc(12px + 0 * (100vw/1024));
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .intro__list {
        font-size: calc(12px + 0 * (100vw/768));
    }
}

@media screen and (max-width: 425px) {
    .intro__list {
        font-size: calc(12px + 0 * (100vw/425));
    }
}