.place__title {
  width: 460px;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 4.5em;
  line-height: 106%
  /* or 106% */;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .place__title {
    width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    width: 340px;
    font-size: 42px;
    line-height: 110%;
    /* or 110% */ 
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    width: 288px;
    height: 35px;
    margin-left: 16px;
    font-size: 32px;
    line-height: 109%;
    /* identical to box height, or 109% */
  }
}