.footer__link {
    width: 100%;
    max-width: 50px;
    height: 18px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 112%;
    color: #FFFFFF;
    margin-right: 18px;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__link:last-child {
    margin-right: 0px;
}

@media (min-width: 425px) and (max-width: 768px) {
    .footer__link {
        font-size: calc(16px + 8 * (10vw/768));
    }
}

@media screen and (max-width: 425px) {
    .footer__link {
        display: flex;
        flex-direction: column;
        max-width: 158px;
        height: 24px;
        margin-bottom: 32px;
        font-size: 1.5rem;
        line-height: 100%;
    }
}