.lead__title {
    width: 100%;
    max-width: 720px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 6rem;
    line-height: 104%;
    color: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .lead__title {
        font-size: calc(40px + 56 * (100vw/1024));
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .lead__title {
        font-size: calc(40px + 56 * (70vw/768));
        line-height: 107%;
    }
}

@media screen and (max-width: 425px) {
    .lead__title {
        height: 88px;
        font-size: 2.5rem;
        line-height: 110%;
    }
}