.footer__copyright {
  margin: 0 auto;
  margin-right: 0;
  width: 186px;
  height: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 0.95em;
  line-height: 16px;
  /* identical to box height, or 114% */
  text-align: right;
  color: #FFFFFF;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    position: absolute;
    text-align: left;
    height: 14px;
    margin: 0;
    top: 296px;
  }
}  