.intro__text {
    width: 100%;
    max-width: 690px;
    margin: 40px 0 33px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
    color: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .intro__text {
        font-size: calc(16px + 0 * (100vw/1024));
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .intro__text {
        max-width: 720px;
        font-size: calc(16px + 0 * (100vw/768));
    }
}

@media screen and (max-width: 425px) {
    .intro__text {
        max-width: 288px;
        font-size: calc(16px + 0 * (100vw/425));
    }
}