.intro {
    width: 100%;
    max-width: 690px;
    margin: 92px 0 0 148px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .intro {
        max-width: 690px;
        margin: 92px 0 0 48px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .intro {
        width: 95%;
        max-width: 720px;
        margin: 88px 24px 0 24px;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        max-width: 288px;
        height: 754px;
        margin: 64px 16px 0 16px;
    }
}
