.lead__subtitle {
    width: 100%;
    max-width: 640px;
    height: 72px;
    margin: 0 auto;
    margin-top: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .lead__subtitle {
        font-size: calc(16px + 14 * (100vw/1024));
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .lead__subtitle {
        font-size: calc(16px + 14 * (100vw/768));
    }
}

@media screen and (max-width: 425px) {
    .lead__subtitle {
        max-width: 288px;
        height: 40px;
        margin-top: 16px;
        left: 18px;
        font-size: 1rem;
        line-height: 125%;
    }
}