.place__website-heading {
  margin: 0;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
}

@media (min-width: 425px) and (max-width: 1024px) {
  .place__website-heading {
    margin: 0;
  }
}