.cover__title {
  width: 100%;
  max-width: 560px;
  height: 152px;
  text-align: center;
  margin: 0 0 32px 0;
  position: relative;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 106%;
}

@media screen and (max-width: 425px) {
  .cover__title {
    margin: 33px 0 0 0;
    font-size: 2rem;
    line-height: 109%;
  }
}