.footer {
  display: flex;
  position: absolute;
  width: 1184px;
  height: 18px;
  left: 48px;
  top: 6833px;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    left: 24px;
    width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    width: 186px;
    height: 310px;
    left: 16px;
    top: 9689px;
  }
}