.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1184px;
  height: 18px;
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: block;
    width: 100%;
    max-width: 186px;
    height: 310px;
    margin: 64px 0 0 16px;
  }
}