.photo-grid__image {
    width: 100%;
    max-width: 284px;
    height: 213px;
    max-height: 100%;
    object-fit: contain;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .photo-grid__image {
        max-width: 300px;
        height: 225px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .photo-grid__image {
        max-width: 352px;
        height: 264px;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid__image {
        max-width: 288px;
        height: 216px;
    }
}