.place__website {
  width: 100%;
  max-width: 456px;
  margin: 0 0 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .place__website {
    max-width: 456px;
    margin: 0 0 0 32px;
    justify-content: start;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .place__website {
    max-width: 352px;
    margin: 0 0 0 28px;
  }
}

@media screen and (max-width: 425px) {
  .place__website {
    max-width: 288px;
    height: 46px;
    margin: 32px 16px 32px 16px;
  }
}