.intro__title {
    width: 100%;
    max-width: 690px;
    height: 58px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 107%;
    color: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .intro__title {
        font-size: calc(2rem + 22 * (100vw/1024));
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .intro__title {
        max-width: 720px;
        font-size: calc(2rem + 22 * (50vw/768));
    }
}

@media screen and (max-width: 425px) {
    .intro__title {
        max-width: 288px;
        height: 70px;
        font-size: calc(2rem + 22 * (0vw/425));
        line-height: 109%;
    }
}